
body {
  background-color: #fafafa;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.img-container {
  order: 1;
  flex: 1 0 55%;
  align-self: flex-start;
  padding:75px 0px;
  background-color: #f2f2f2;
}
.user-post-details-container {
  order: 2; 
  flex: 1 0 35%; 
  align-self: flex-start;
  padding: 20px 10px 20px 20px;
  max-height:470px
}
.comments-container {
  max-height:300px;
  overflow: scroll;
  padding-right: 20px;
}
.post-caption {
  padding-bottom: 15px;
}

.comment-section-container {
  padding: 10px 0px;
  display:flex;
  flex-direction: row;
  justify-content: space-between
}
.commented-username {
  font-weight:700;
}
.comment-section {
  width:88%;
}
.comment-like-section svg {
  width:18px;
  cursor: pointer;
}
.comment-likes {
  font-size: 11px;
  color: rgba(65, 63, 63, 0.533);
  margin: 0px;
}
.user-block-container {
  display: flex;
  flex-direction: row;
}
.user-name {
  font-size:16px;
  font-weight:700;
  margin:0px 0px 5px 0px;
}
.user-address {
  font-size: 14px;
  margin:0px;
}
.user-avatar {
  order: 1;
  flex: 1 0;
  align-self: flex-start;
}
.user-details {
  order: 2;
  flex: 1 0 60%;
  align-self: flex-start;
}
.user-avatar img {
  height:50px
}
hr {
  margin: 15px 0px;
}
.footer-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top:10px;
}
.hashtag {
  color: #007bff;
  cursor: pointer;
}
.like-now-section {
  cursor: pointer;
}

/* Media Queries */

@media screen and (max-width: 748px) {
  .img-container {
    flex: 1 0 70%;
    padding:20px 0px;
  }
  .user-details {
    flex: 1 0 70%;
  }
  .user-post-details-container {
    max-height: 100vh;
  }
}